<mat-toolbar class="header">
    <div class="title-subtitle">
        <h1>nova admissão cooperado</h1>
        <p>Cadastro/Admissão do Cooperado/Nova Admissão de Cooperado</p>
    </div>
    <span class="element-spacer"></span>
    <div class="user">
        <mat-icon matBadge="7" matBadgeColor="warn">notifications</mat-icon>
        <button mat-stroked-button>VIACREDI</button>
        <img src="assets/images/user-logged.png"  class="icon-user" alt="icon-user">
        <mat-icon class="vector-config">settings</mat-icon>
    </div>
</mat-toolbar>

