<div class="content">
    <br/>
    <ul class="timeline" >
        <li >
            <div class="timestamp"></div>
            <div class="status-initial"><p> Início </p></div>
        </li>
        <li>
            <div class="timestamp"></div>
            <div class="status"><p> Documentos </p></div>
        </li>
        <li>
            <div class="timestamp"></div>
            <div class="status"><p> Dados cadastrais </p></div>
        </li>
        <li>
          <div class="timestamp"></div>
          <div class="status"><p> Admissão </p></div>
      </li>
    </ul>
</div>